<!DOCTYPE html>
<html>
<head>
<title>Mandates4U</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="shortcut icon" href="/images/icon.ico">
<!--//menu-->
<!--theme-style-->
<link href="/css/slippry.css" rel="stylesheet" type="text/css" media="all" />
<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'><!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="PROPERTY MANDATES mandates rental property showhouses developments" />
</head>
<body >
<!--header-->
<!--//-->
	{{{body}}}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/slippry.min.js"></script>
  <!-- Custom Theme files -->
  <script src="/js/main.js"></script>

</body>
</html>
