<ul id="slippry">
  <li>
    <a href="#slide1"><img src="/images/slide1.png"></a>
  </li>
  <li>
    <a href="#slide2"><img src="/images/slide2.png" ></a>
  </li>
  <li>
    <a href="#slide3"><img src="/images/slide3.png"></a>
  </li>
  <li>
    <a href="#slide3"><img src="/images/slide4.png"></a>
  </li>
  <li>
    <a href="#slide3"><img src="/images/slide5.png"></a>
  </li>
  <li>
    <a href="#slide3"><img src="/images/slide6.png"></a>
  </li>
  <li>
    <a href="#slide3"><img src="/images/slide7.png"></a>
  </li>
</ul>

  <div style="font-family:Fjalla One" class="container text-center">
    <div class="row ">
      <h2>Subscribe for access to beta version</h2>
    </div>
  </br>
    <form class="row" action = "/" method="POST">
      <label>Email: </label>
    </br>
    <h3 id = "successMsg">{{msg}}</h3>
    </br>
      <input name = "email" type = "email" required></input>
    </br>
    </br>
      <button class = "btn btn-warning" type = "submit">Submit email</button>
    </form>
  </br>
  </br>
    <div class="row">
      <p >© 2015 Mandates4U. All Rights Reserved | Design by  <a href="http://www.blacklotuscreative.com/" target="_blank">BlackLotus Creative</a> </p>
    </div>
  <div class="clearfix"> </div>
   </div>
<!--//footer-->
